<footer class="footer">
    <div class="footer-container">

        <div class="footer-logo">
            <img src="assets/logo1.svg" alt="21Meetup Logo">
        </div>

        <nav class="footer-nav">
            <a href="index.html">Badge Erklärung</a>
            <a href="technik.html">Technische Umsetzung</a>
            <a href="social.html">Social Media</a>
            <button class="theme-toggle" class="theme-toggle" aria-label="Theme wechseln">
    <span class="theme-icon">🌙</span>
</button>
        </nav>

        <div class="footer-social">
            <a href="https://njump.me//npub1rl4wlgapxcapk0p3242kqcw7az584sjxgssuwh38u2gatk0cwewsudjz85" target="_blank" rel="noopener">Nostr</a>
            <a href="https://t.me/Einundzwanzig_Ko" target="_blank" rel="noopener">Telegram</a>
            <a href="https://x.com/EinundzwanzigKo" target="_blank" rel="noopener">Twitter / X</a>
            <a href="https://t.me/benzinsatoshi" target="_blank" rel="noopener">Benzin in Sats</a>
            <a href="https://portal.einundzwanzig.space/de/meetup/einundzwanzig-koblenz" target="_blank" rel="noopener">Einundzwanzig Portal</a>
            <a href="https://github.com/louisthecat86/Einundzwanzig-Meetup-App" target="_blank" rel="noopener">21Meetup APP GitHub</a>

            <a href="lightning:creamowl25@primal.net">v4v ⚡ Lightning</a>
        </div>
<div class="footer-lightning">
    <p class="lightning-label">Value for Value ⚡ Lightning</p>

    <a href="lightning:creamowl25@primal.net" class="lightning-address">
        ⚡ creamowl25@primal.net
    </a>

    <a href="lightning:creamowl25@primal.net">
        <img class="lightning-qr qr-dark" src="assets/lightning-qr-white.svg" alt="Lightning QR Code">
        <img class="lightning-qr qr-light" src="assets/lightning-qr-black.svg" alt="Lightning QR Code">
    </a>
</div>


        </div>

        <div class="footer-copy">
             © 2026 Einundzwanzig Koblenz • Open Source • Forkable Meetup Website • Made with ₿ <a href="https://mempool.space/de/block/958614" target="_blank" rel="noopener">aktualisiert 958614</a>
        </div>

    </div>
</footer>
