<nav>
<div class="nav-container">

    <img class="banner-dark" src="assets/banner-dark.svg" alt="Einundzwanzig Banner">
    <img class="banner-light" src="assets/banner-light.svg" alt="Einundzwanzig Banner">

    <div data-include="components/nav.html"></div>

</div>
    <a href="index.html">
        Badge Erklärung
    </a>

    <a href="technik.html">
        Technische Umsetzung
    </a>

    <a href="social.html">
        Social Media
    </a>
<button class="theme-toggle" class="theme-toggle" aria-label="Theme wechseln">
    <span class="theme-icon">🌙</span>
</button>
</nav>
